<?xml version="1.0"?>

<model>
  <name>Example model</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>LihanChen</name>
    <email>lihanchen2004@163.com</email>
  </author>

  <description>
    Templates model. [mesh_file_uri] will be replaced automatically.
  </description>

</model>
